.git
.editorconfig
.idea
.npmrc
.vscode
*.crt
*.key
*.pem
*.log
npm-debug.log
project.env
backup/*
coverage
dist/*
devops/version/
!dist/.gitkeep
logs/*
node_modules/
devops/version/
tmp
# nrp.yaml - env vars used to hide values
conf.d
conf.available
letsencrypt
.history
.DS_Store
nrp-cli-linux

dnsmasq.conf
squid.conf
configs/nginx/cors-servers.conf
